body{
	background-color: red;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
}
h3{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

a:link, a:visited
{ 
 text-decoration:none; 
 color: inherit;
} 

	
#geral{
	background-color: red;
	height: auto;

}

#barra_ferramentas{
	background-color:blue;
	padding: 10px;
	border-radius: 4px;
	padding: 5px;
	height: 40px;
	
}	

.logo{
	padding: 10px;
	float: left;
	margin-right: 420px;
	margin-left: 50px;
}

.icones_ferramentas{
	padding: 5px;
	float: left;
	margin-left: 5px;
	text-align: center;
}

.icone_perfil{
	margin-left: 800px;
	float: left;
	margin-bottom: 15px;
	border-radius: 3px;
}

#resumo_perfil{
	margin-top: 5px;
	padding-bottom: 5px;
	width: 30%;
	height: auto;
	background-color: green;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
}

.resumo_perfil_foto{
	margin-top: 20px;
}

#resumo_publicacao{
	width: 100%;
	float:left;
	background-color: blue;
}

#resumo_p{	
	text-align: center;
	display: flex;
	justify-content: space-between;

}

.botoes {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}






