body{
	background-color: red;
	height: auto;
}

#barra_ferramentas{
	background-color:blue;
	padding: 10px;
	border-radius: 2px;
	float: top;
	padding: 5px;
	height: 50px;
}	

.logo{
	padding: 10px;
	float: left;
	margin-right: 420px;
	margin-left: 50px;
}

.icones_ferramentas{
	padding: 5px;
	float: center;
	margin-left: 5px;
}

.icone_perfil{
	padding: 10px;
	margin-right: 50px;
	margin-left: 50px;
	float: right;
	margin-bottom: 10px;
	border-radius: 3px;
}