body{
	background-color: red;
	height: auto;
}
#geral{
	background-color: green;
	height: auto;
}
#barra_ferramentas{
	background-color:blue;
	padding: 10px;
	border-radius: 2px;
	padding: 5px;
	height: 40px;
}	

.logo{
	padding: 10px;
	float: left;
	margin-right: 420px;
	margin-left: 50px;
}

.icones_ferramentas{
	padding: 5px;
	float: left;
	margin-left: 5px;
}

.icone_perfil{
	margin-left: 550px;
	float: left;
	margin-bottom: 15px;
	border-radius: 3px;
}