body{
	background-color: #ddd9ce;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
}

#resumo_perfil h4{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	
}

a:link, a:visited
{ 
 text-decoration:none; 
 color: inherit;
} 

#barra_ferramentas{
	width: 100%;
	background-color: #eee;
	height: auto;
	padding: 10px;
}
.logo{
	margin-left: 55px;
	margin-top: 7px;
}

.icones_ferramentas{
	margin-left: 750px;
}

.icone_perfil{
	margin-left: 725px;
}

#resumo_perfil{
	margin-left:15px;
	margin-top: 5px;
	padding-bottom: 5px;
	width: 30%;
	height: auto;
	background-color: #ddd9ce;
	text-align: center;
	font-size:10px;
	border: 1px solid black;
	position: absolute;
}

.resumo_perfil_foto{
	margin-top: 20px;
	margin-bottom: 10px;
}

#resumo_publicacao{
	margin-top: 15px;
	width: 100%;
	float:left;
	background-color: #ddd9ce;
}

#resumo_p{	
	text-align: center;
	display: flex;
	justify-content: space-between;

}
