body{
	background-color: #ddd9ce;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
}

#resumo_perfil h4{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	
}

a:link, a:visited
{ 
 text-decoration:none; 
 color: inherit;
} 

a:hover{
	text-decoration: underline;
}
#barra_ferramentas{
	width: 100%;
	background-color: #eee;
	height: auto;
	padding: 10px;
	box-shadow: 0px 0px 1em #666;
}
.logo{
	margin-left: 55px;
	margin-top: 7px;
}

.icones_ferramentas{
	margin-left: 750px;
}

.icone_perfil{
	margin-left: 725px;
}

#resumo_perfil{
	padding-bottom: 5px;
	width: 30%;
	height: auto;
	background-color: #F0F8FF;
	text-align: center;
	font-size:10px;
	border: 1px solid black;
	position: absolute;
	box-shadow: 0px 0px 1em #666;
	float: left;
}

#lado_esquerdo{
	margin-left:30px;
	margin-top: 5px;
	width: 30%;
	height: auto;
	text-align: center;
	float: left;
}

#bloco{
	padding-bottom: 5px;
	width: 30%;
	height: 299px;
	background-color: red;
	text-align: center;
	font-size:10px;
	float: left;
}
	
.resumo_perfil_foto{
	border-radius:50%;
	margin-top: 20px;
	margin-bottom: 10px;
}

#resumo_publicacao{
	margin-top: 15px;
	width: 100%;
	float:left;
	background-color: #F0F8FF;
	float: left;
}

#resumo_p{
	text-align: center;
	display: flex;
	justify-content: space-between;
}

#botao_resumo_perfil{
	height: auto;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	text-align: center;	
	float: left;
}

.btn1{
	margin-top: 5px;
	width: 100%;
}

#resumo_pub{
	margin-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: auto;
	background-color: #F0F8FF;
	text-align:center;
	border: 1px solid black;
	box-shadow: 0px 0px 1em #666;
	float: left;
}

.btn{
	margin-top: 5px;
	width: 30%;
}

#mostra_resumo{
	margin-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: auto;
	background-color: #F0F8FF;
	border-top: 1px solid black;
}

#central{
	margin-left:15px;
	margin-top: 5px;
	width: 45%;
	height:800px;
	background-color:red;
	float: left;
}

.post{
	margin-top: 5px;
	width: 95%;
	height: auto;
	background-color: green;
	border: 1px solid black;
}
			
.post_foto{
	border-radius:50%;
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
}

.post_info{
	width: 70%;
    height: auto;
    float: left;
    margin-top: 35px;
	font-family: verdana;
	font-size: 12px;
}



















